.jumbotron {
    background-image: url('img/Humaaans\ -\ 3\ Characters.png');
    background-size: cover;
    /* opacity: 0.5; */
    height: 110vh;
    text-align: center;
    margin-top: -100px ;
}
.jumbotron .display-4 {
    color: black;
    margin-top: 200px;
}
.jumbotron p {
    color: black;
}
.tesX {
    margin-top: 10px;
    height: 70%;
    width: 50%;
}